{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NFL DB</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'nfl_db/style.css' %}">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    </head>
    {% comment %} <body data-bs-theme="dark"> {% endcomment %}
    <body>
        <div class="container">
            <br>
            <h2>NFL Dataset</h2>

            <nav id="site-navigation" class="navbar navbar-expand-lg main-navigation navbar-dark bg-dark mb-3 p-0 d-inline-flex" role="navigation">
                <div class="btn-group p-0">
                    <div class="collapse navbar-collapse btn-group p-0" id="navbarSupportedContent">
                        <ul id="main_navigation_menu" class="nav-menu navbar-nav mb-2 mb-lg-0 btn-group p-0">
                            <li id="menu-item-pull-data" class="menu-item nav-item btn p-0"><a href="/getGames" class="nav-link p-3" role="button">Pull Data</a></li>
                            <li id="menu-item-report" class="menu-item nav-item btn p-0"><a href="/loadModel" class="nav-link p-3" role="button">Generate Predictions</a></li>
                            <li id="menu-item-weekly-summary" class="menu-item nav-item btn p-0"><a href="/loadModelSummary" class="nav-link p-3" role="button">Weekly Summary</a></li>
                            <li id="menu-item-yearly-summary" class="menu-item nav-item btn p-0"><a href="/loadYearlySummary" class="nav-link p-3" role="button">Yearly Summary</a></li>
                            <li id="all-team-stats" class="menu-item nav-item btn p-0"><a href="/fullTeamStats" class="nav-link p-3" role="button">Team Stats</a></li>
                            <li id="tds" class="menu-item nav-item dropdown btn p-0">
                                <a href="#" class="nav-link dropdown-toggle p-3" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Touchdowns</a>
                                <ul class="dropdown-menu bg-dark">
                                    <li><a class="dropdown-item" href="/touchdowns" >Team Touchdowns</a></li>
                                    <li><a class="dropdown-item" href="/touchdowns-mp">Match Prep Touchdowns</a></li>
                                </ul>
                            </li>
                            <li id="player-page" class="menu-item  nav-item btn p-0"><a href="/players" class="nav-link p-3" role="button">Players</a></li>
                            <li id="plays" class="menu-item  nav-item btn p-0"><a href="/plays" class="nav-link p-3" role="button">Plays</a></li>

                        {% comment %} <li id="individual-stat" class="menu-item "><a href="/individualStat" class="" role="button">Individual Stat</a></li> {% endcomment %}
                        
                        </ul>
                    </div>
                </div>
            </nav>

            {% block getData %}
            {% endblock %}

            {% block loadModel %}
            {% endblock %}

            {% block loadModelSummary %}
            {% endblock %}

            {% block loadYearlySummary %}
            {% endblock %}   

            {% block teamDetailedStats %}
            {% endblock %}    

            {% block individualStat %}
            {% endblock %}    
            
            {% block testPage %}
            {% endblock %}   

            {% block players %}
            {% endblock %}   

            {% block plays %}
            {% endblock %}   

            {% block touchdowns %}
            {% endblock %}   
            
            {% block predictTouchdowns %}
            {% endblock %}   

        </div>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>