{% extends 'nfl/base.html'%}
{% load static %}
{% load bootstrap_icons %}
{% block loadModel %}
    <div class = "container">
        
        <div>
            Plug data into model for:
            <form method="GET">
                <div class="row g-1 mt-3 mb-3">
                    <div class="col-2">
                        <div class="form-floating">
                            <select class="form-select" name="season" id="select_season" aria-label="Floating label">
                                {% for yr in years %}
                                <option value="{{yr}}" 
                                    {%if yr|stringformat:"i" == yearOfSeason %}
                                        selected
                                    {% endif %} >{{yr}}</option>
                                {% endfor %}
                            </select>
                            <label for="select_season">Season</label>
                        </div>
                    </div> 
                    <div class="col-2">
                        <div class="form-floating">
                            <select class="form-select" name="week" id="select_week" aria-label="Floating label">
                                {% for wk in weeks %}
                                    <option value="{{wk.0}}"
                                    {%if wk.0|stringformat:"i" == weekOfSeason %}
                                        selected
                                    {% endif %}
                                    > 
                                        {{ wk.1 }}
                                    </option>
                                {% endfor %}
                            </select>
                            <label for="select_s_week">Week</label>
                        </div>
                    </div>
                    <div class="col-3">    
                        <div class="form-floating">
                            <select class="form-select" name="model" id="model" aria-label="Floating label">
                                <option value="v1">V1.0 (Avg Yds/Yds per Pt)</option>
                                <option value="v1.5"  
                                {% if selectedModel == "v1.5" %}
                                selected
                                {% endif %}>
                                    V1.5 (V1 with Moving Avg.)
                                </option> 
                                <option value="v2"
                                {% if selectedModel == "v2" %}
                                    selected
                                {% endif %}>
                                    V2.0 (Drives vs Drive Result)
                                </option>
                            </select>
                            <label for="select_s_week">Model</label>
                        </div>
                    </div>
                    <div class="col-2" id="form_avg_length_select" {% if selectedModel != "v1.5"%} style="visibility:hidden" {% endif %}>   
                        <div class="form-floating">
                            <select class="form-select" name="movingavg" id="movingavg" aria-label="Floating label">
                                {% for ma in ma_Len %}
                                <option value="{{ma}}" {% if ma == sel_ma %} selected {% endif %}>{{ma}}</option>
                                {% endfor %}
                            </select>
                            <label for="select_s_week">Moving Avg. Length</label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-primary">Load!</button>
                    
            </form>
        </div>
        <div id="modelResultContainer" class="mt-4">
            {% if modelResults %}
            
            <h2>Summary for Week {{weekOfSeason}} in {{yearOfSeason}}</h2>

            
            <div id="model-desc" class="accordion">
                
                <button id="accordion-model-desc" class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#collapse-model-desc" aria-expanded="true" aria-controls="collapse-model-desc">
                    Model Description
                </button>
            </div>
            <div id="collapse-model-desc" class="collapse" aria-labelledby="accordion-model-desc" data-parent="#accordion-model-desc">
                {% if selectedModel == "v1" %}
                <ol>
                    <li>Average the team's offensive yards per game with opponents defensive yards allowed per game.</li>
                    <li>Average the team's offensive yards per point with the opponents defensive yards per point allowed.</li>
                    <li>Divide the result from Step 1 (expected offensive yards in the game) by the result from Step 2 (expected yards per point).</li>
                    <li>Result from Step 3 is your expected score.</li>
                    <li>If it's game 1 of season, look at average of all regular season games from previous year. </li>
                    <li>If it's not game 1 of season, take the average of all the games that happened this season.</li>
                </ol>
                {% elif selectedModel == "v1.5" %}
                <ol>
                    <li>Take the average number for the following stats, from the last <i>x</i> games. Length determines the number of games.</li>
                    <li>This will look at last season's results as well if it's early in the season.</li>
                    <li>Average the team's offensive yards per game with opponents defensive yards allowed per game.</li>
                    <li>Average the team's offensive yards per point with the opponents defensive yards per point allowed.</li>
                    <li>Divide the result from Step 1 (expected offensive yards in the game) by the result from Step 2 (expected yards per point).</li>
                    <li>Result from Step 3 is your expected score.</li>
                </ol>
                {% else %}
                <ol>
                    <li>Look at the average number of drives a team gets.</li>
                </ol>
                {% endif %}
            </div>
            <div id="modelSummary">
                <table class="table-bordered border-secondary-subtle" id="modelSummary">
                    <thead>
                        <td></td>
                        <td>Home Team</td>
                        <td>Model Score</td>
                        <td>Actual Score</td>
                        <td style="padding: 0 25px;"></td>
                        <td>Away Team</td>
                        <td>Model Score</td>
                        <td>Actual Score</td>
                        <td>Model O/U</td>
                        <td>Book O/U</td>
                        <td>Actual Total</td>
                        <td>Model Line</td>
                        <td>Book Line</td>
                        <td>Result Line</td>
                        <td>Model O/U Bet</td>
                        <td>Model Line Bet</td>
                        {% comment %} {% if anyCompleted %}
                        <td>Model O/U Bet</td>
                        <td>Model Line Bet</td>
                        {% endif %} {% endcomment %}
                    </thead>
                    <tbody>
                        {% for result in modelResults %}
                            {% if result.previousWeekNotFinished %}
                            <tr>
                                <td style="width:39px"></td>
                                <td>{{ result.team1Name }}</td>
                                <td></td>
                                <td></td>
                                <td>vs.</td>
                                <td>{{ result.team2Name }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{ result.bookProvidedTotal }}</td>
                                <td></td>
                                <td class="modelSummaryLine">Prev. Week</td>
                                <td class="modelSummaryLine">Game </td>
                                <td class="modelSummaryLine">Not Finished</td>
                                <td class="modelSummaryLine"></td>
                                <td class="modelSummaryLine"></td> 
                            </tr>
                            {% else %}

                            <tr id="accordion-{{result.team1Name}}{{result.team2Name}}">
                                <td class="accordion">
                                    <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{result.team1Name}}{{result.team2Name}}" aria-expanded="true" aria-controls="collapse-{{result.team1Name}}{{result.team2Name}}">
                                       
                                    </button>
                                </td>
                                <td>{{ result.team1Name }}</td>
                                <td>{% if selectedModel == "v2" %}
                                    {{ result.expected_points_from_drives_t1 }}
                                    {% else %} 
                                    {{ result.team1CalculatedPoints }}
                                    {% endif %}

                                </td>
                                <td>
                                    {% if result.gameCompleted %}
                                    {{ result.team1ActualPoints }}
                                    {% endif %}
                                </td>
                                <td>vs.</td>
                                <td>{{ result.team2Name }}</td>
                                <td>{% if selectedModel == "v2" %}
                                    {{ result.expected_points_from_drives_t2 }}
                                    {% else %} 
                                    {{ result.team2CalculatedPoints }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if result.gameCompleted %}
                                    {{ result.team2ActualPoints }}
                                    {% endif %}
                                </td>
                                <td>{{ result.calculatedTotal }}</td>
                                <td>{{ result.bookProvidedTotal }}</td>
                                <td>
                                    {% if result.gameCompleted %}
                                    {{ result.actualTotal }}
                                    {% endif %}
                                </td>
                                <td class="modelSummaryLine">
                                    {{ result.team1Name }} 
                                        {% if result.calculatedSpread > 0 %}
                                        +{% endif %}{{ result.calculatedSpread }}</td>
                                <td class="modelSummaryLine">
                                    {{ result.team1Name }} 
                                        {% if result.bookProvidedSpread > 0 %}
                                        +{% endif %}{{ result.bookProvidedSpread }}</td>
                                <td class="modelSummaryLine">
                                    {% if result.gameCompleted%}
                                    {{ result.team1Name }} 
                                        {% if result.actualSpread > 0 %}
                                        +{% endif %}{{result.actualSpread }}
                                    {% endif %}
                                </td>
                                {% if result.gameCompleted %}
                                <td class="modelSummaryLine 
                                    {% if result.overUnderBetIsCorrect == 'True' %}
                                        correctBet
                                    {% elif result.overUnderBetIsCorrect == 'None' or result.overUnderBetIsCorrect == 'Push' %}
                                        noBet
                                    {% else %}
                                        wrongBet
                                    {% endif %}
                                    ">
                                    {{result.overUnderBet}}
                                </td>
                                <td class="modelSummaryLine
                                {% if result.lineBetIsCorrect == 'True'%}
                                    correctBet
                                {% elif result.lineBetIsCorrect == 'None' or result.lineBetIsCorrect == 'Push'%}
                                    noBet
                                {% else %}
                                    wrongBet
                                {% endif %}
                                    ">
                                    {{result.lineBet}}
                                </td>
                                {% else %}
                                <td></td>
                                <td></td>
                                    
                                {% endif %}
                            </tr>
                            <tr id="collapse-{{result.team1Name}}{{result.team2Name}}" class="collapse model-sum-row" aria-labelledby="accordion-{{result.team1Name}}{{result.team2Name}}" data-parent="#accordion-{{result.team1Name}}{{result.team2Name}}">
                                <td colspan="5">
                                    <table style="font-size:0.9em" class="table text-start">
                                        <tbody>
                                            <tr>
                                                <td>
                                                </td>
                                                <td>
                                                    {{result.team1Name}}
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    {{result.team2Name}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="font-size:0.85em">
                                                    OFF Yds/Point Rank:
                                                </th>
                                                <td>
                                                    {{result.matchModelDetails.homeTeamOffenseYdsPerPntRank}}
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    {{result.matchModelDetails.awayTeamOffenseYdsPerPntRank}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="font-size:0.85em">
                                                    OFF Yds/Game Rank:
                                                </th>
                                                <td>
                                                    {{result.matchModelDetails.homeTeamOffenseYdsPerGmRank}}
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    {{result.matchModelDetails.awayTeamOffenseYdsPerGmRank}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="font-size:0.85em">
                                                    DEF Yds/Point Rank:
                                                </th>
                                                <td>
                                                    {{result.matchModelDetails.homeTeamDefenseYdsPerPntRank}}
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    {{result.matchModelDetails.awayTeamDefenseYdsPerPntRank}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="font-size:0.85em">
                                                    DEF Yds/Game Rank:
                                                </th>
                                                <td>
                                                    {{result.matchModelDetails.homeTeamDefenseYdsPerGmRank}}
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    {{result.matchModelDetails.awayTeamDefenseYdsPerGmRank}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="font-size:0.85em">
                                                    Bet Rank Score
                                                </th>
                                                <td colspan="3">
                                                    {{result.betRankScore}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="font-size:0.85em">
                                                    Turnover Differential
                                                </th>
                                                <td>
                                                    {{result.homeTeamTurnoverDiff}}
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    {{result.awayTeamTurnoverDiff}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td colspan="8">
                                    <table style="font-size:0.9em" class="table text-start">
                                        <tbody>
                                            <tr>
                                                <td colspan="2">
                                                    Key Injuries
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="1">
                                                    {{result.team1Name}}
                                                </td>
                                                
                                                <td colspan="1">
                                                    {{result.team2Name}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 275px">
                                                    <table class="injury_table" style="text-align:left">
                                                        <tbody>
                                                            {% for injury in result.homeTeamInjuries %}
                                                                {% if injury.player.get_playerPosition_display == "QB" or injury.player.get_playerPosition_display == "O-Line" %}
                                                                    <tr>
                                                                        <td class="injury_player_name">
                                                                            {{injury.player.name}}
                                                                        </td>
                                                                        <td class="injury_player_pos">
                                                                            {% if injury.player.get_playerPosition_display == "O-Line" %} 
                                                                                OL
                                                                            {% elif injury.player.get_playerPosition_display == "D-Line" %} 
                                                                                DL
                                                                            {% else %}
                                                                                {{injury.player.get_playerPosition_display}}
                                                                            {% endif %}
                                                                        </td>
                                                                        <td class="injury_player_status">
                                                                            {% if injury.get_playerStatus_display == "Questionable" %} 
                                                                                Qstnble
                                                                            {% elif injury.get_playerStatus_display == "Doubtful" %}
                                                                                Doubt
                                                                            {% else %}
                                                                                {{injury.get_playerStatus_display}}
                                                                            {% endif %}
                                                                        </td>    
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td>
                                                    <table class="injury_table" style="text-align:left">
                                                        <tbody>
                                                            {% for injury in result.awayTeamInjuries %}
                                                                {% if injury.player.get_playerPosition_display == "QB" or injury.player.get_playerPosition_display == "O-Line" %}
                                                                    <tr>
                                                                        <td class="injury_player_name">
                                                                            {{injury.player.name}}
                                                                        </td>
                                                                        <td class="injury_player_pos">
                                                                            {% if injury.player.get_playerPosition_display == "O-Line" %} 
                                                                                OL
                                                                            {% elif injury.player.get_playerPosition_display == "D-Line" %} 
                                                                                DL
                                                                            {% else %}
                                                                                {{injury.player.get_playerPosition_display}}
                                                                            {% endif %}
                                                                        </td>
                                                                        <td class="injury_player_status">
                                                                            {% if injury.get_playerStatus_display == "Questionable" %} 
                                                                                Qstnble
                                                                            {% elif injury.get_playerStatus_display == "Doubtful" %}
                                                                                Doubt
                                                                            {% else %}
                                                                                {{injury.get_playerStatus_display}}
                                                                            {% endif %}
                                                                        </td>    
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                           
                                            
                                        </tbody>
                                    </table>
                                </td>
                                <td colspan="3">
                                    {% comment %} <table style="font-size:0.9em" class="table text-start">
                                        <tbody>
                                            <tr>
                                                <td colspan="4">
                                                    Explosive Plays
                                                </td>
                                            </tr>
                                            <tr style="font-size:0.75em">
                                                <td>
                                                </td>
                                                <td>
                                                    Rush (10+)
                                                </td>
                                                <td>
                                                    Pass (25+)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size:0.75em">
                                                    {{result.team1Name}}
                                                </td>
                                                <td>
                                                    {{result.homeTeamExplosiveRush}}
                                                </td>
                                                <td>
                                                    {{result.homeTeamExplosiveRecs}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size:0.75em">
                                                    {{result.team2Name}}
                                                </td>
                                                <td>
                                                    {{result.awayTeamExplosiveRush}}
                                                </td>
                                                <td>
                                                    {{result.awayTeamExplosiveRecs}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table> {% endcomment %}
                                    <table style="font-size:0.9em" class="table text-start">
                                        <tbody>
                                            <tr>
                                                <td colspan="5">
                                                    Explosive Plays
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="5">
                                                    Rush (10+)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size:0.85em">
                                                    {{result.team1Name}} OFF
                                                </td>
                                                <td>
                                                    {{result.homeTeamExplosiveRush}}
                                                </td>
                                                <td>
                                                    vs.
                                                </td>
                                                <td>
                                                    {{result.awayTeamExplosiveRushAllowed}}
                                                </td>
                                                <td style="font-size:0.85em">
                                                    {{result.team2Name}} DEF
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size:0.85em">
                                                    {{result.team2Name}} OFF
                                                </td>
                                                <td>
                                                    {{result.awayTeamExplosiveRush}}
                                                </td>
                                                <td>
                                                    vs.
                                                </td>
                                                <td>
                                                    {{result.homeTeamExplosiveRushAllowed}}
                                                </td>
                                                <td style="font-size:0.85em">
                                                    {{result.team1Name}} DEF
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="5">
                                                    Pass (25+)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size:0.85em">
                                                    {{result.team1Name}} OFF
                                                </td>
                                                <td>
                                                    {{result.homeTeamExplosiveRecs}}
                                                </td>
                                                <td>
                                                    vs.
                                                </td>
                                                <td>
                                                    {{result.awayTeamExplosiveRecsAllowed}}
                                                </td>
                                                <td style="font-size:0.85em">
                                                    {{result.team2Name}} DEF
                                                </td>
                                            </tr>
                                              <tr>
                                                <td style="font-size:0.85em">
                                                    {{result.team2Name}} OFF
                                                </td>
                                                <td>
                                                    {{result.awayTeamExplosiveRecs}}
                                                </td>
                                                <td>
                                                    vs.
                                                </td>
                                                <td>
                                                    {{result.homeTeamExplosiveRecsAllowed}}
                                                </td>
                                                <td style="font-size:0.85em">
                                                    {{result.team1Name}} DEF
                                                </td>
                                            </tr>
                                            

                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                            
                            {% endif %}
                        {% endfor %}
                        {% if anyCompleted %}
                        <tr>
                            <td colspan="14">
                            </td>
                            <td>{{ouRecord}}</td>
                            <td>{{lbRecord}}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            {% endif %}
            <script>
                    $('form').on("change", "#model", function(){
       
                        if ($('#model')[0].value == "v1.5")
                        {
                            $('#form_avg_length_select').css("visibility", "visible")
                        }
                        else
                        {
                            $('#form_avg_length_select').css("visibility", "hidden")
                        }                 
                    });
            </script>
        </div>

    </div>
{% endblock %}