{% extends 'nfl/base.html'%}
{% load static %}
{% load bootstrap_icons %}
{% block loadModel %}
    <div class = "container">
        
        <div>
            Plug data into model for:
            <form method="GET">
                <select name="season" id="season">
                    {% for yr in years %}
                    <option value="{{yr}}" 
                        {%if yr|stringformat:"i" == yearOfSeason %}
                            selected
                        {% endif %} >{{yr}}</option>
                    {% endfor %}
                   
                </select> 
                - 
                
                Week: 
                <select name="week" id="week">
                    {% for wk in weeks %}
                    <option value="{{wk.0}}"
                        {%if wk.0|stringformat:"i" == weekOfSeason %}
                            selected
                        {% endif %}
                        > {{ wk.1 }}</option>
                    {% endfor %}
                </select>

                Model:
                <select name="model" id="model">
                    <option value="v1">V1.0 (Avg Yds/Yds per Pt)</option>
                    <option value="v1.5"  
                    {% if selectedModel == "v1.5" %}
                    selected
                    {% endif %}>V1.5 (V1 with Moving Avg.)</option> 
                    <option value="v2"
                    {% if selectedModel == "v2" %}
                        selected
                    {% endif %}
                                        >V2.0 (Drives vs Drive Result)</option>
                </select>
                <br>
                <div id="form_avg_length_select" {% if selectedModel != "v1.5"%} style="visibility:hidden" {% endif %}>
                    Length:
                    <select name="movingavg" id="movingavg">
                        {% for ma in ma_Len %}
                        <option value="{{ma}}" {% if ma == sel_ma %} selected {% endif %}>{{ma}}</option>
                        {% endfor %}
                    </select>
                </div>
                    

                <button type="submit" class="btn btn-outline-primary">Load!</button>
            </form>
        </div>
        <div id="modelResultContainer">
            {% if modelResults %}
            
            <h2>Summary for Week {{weekOfSeason}} in {{yearOfSeason}}</h2>

            <p>Description: 
                <ol>
                    <li>Average the team's offensive yards per game with opponents defensive yards allowed per game.</li>
                    <li>Average the team's offensive yards per point with the opponents defensive yards per point allowed.</li>
                    <li>Divide the result from Step 1 (expected offensive yards in the game) by the result from Step 2 (expected yards per point).</li>
                    <li>Result from Step 3 is your expected score.</li>
                </ol>
            </p>
            <div id="modelSummary">
                <table class="table-bordered border-secondary-subtle" id="modelSummary">
                    <thead>
                        <td></td>
                        <td>Home Team</td>
                        <td>Model Score</td>
                        <td>Actual Score</td>
                        <td style="padding: 0 25px;"></td>
                        <td>Away Team</td>
                        <td>Model Score</td>
                        <td>Actual Score</td>
                        <td>Sheet O/U</td>
                        <td>Book O/U</td>
                        <td>Actual Total</td>
                        <td>Model Line</td>
                        <td>Book Line</td>
                        <td>Result Line</td>
                        {% if anyCompleted %}
                        <td>Model O/U Bet</td>
                        <td>Model Line Bet</td>
                        {% endif %}
                    </thead>
                    <tbody>
                        {% for result in modelResults %}
                            {% if result.previousWeekNotFinished %}
                            <tr>
                                <td style="width:39px"></td>
                                <td>{{ result.team1Name }}</td>
                                <td></td>
                                <td></td>
                                <td>vs.</td>
                                <td>{{ result.team2Name }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{ result.bookProvidedTotal }}</td>
                                <td></td>
                                <td class="modelSummaryLine">Prev. Week</td>
                                <td class="modelSummaryLine">Game </td>
                                <td class="modelSummaryLine">Not Finished</td>
                                {% comment %} <td class="modelSummaryLine"></td>
                                <td class="modelSummaryLine"></td> {% endcomment %}
                            </tr>
                            {% else %}

                            <tr id="accordion-{{result.team1Name}}{{result.team2Name}}">
                                <td class="accordion">
                                    <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{result.team1Name}}{{result.team2Name}}" aria-expanded="true" aria-controls="collapse-{{result.team1Name}}{{result.team2Name}}">
                                       
                                    </button>
                                </td>
                                <td>{{ result.team1Name }}</td>
                                <td>{% if selectedModel == "v2" %}
                                    {{ result.expected_points_from_drives_t1 }}
                                    {% else %} 
                                    {{ result.team1CalculatedPoints }}
                                    {% endif %}

                                </td>
                                <td>
                                    {% if result.gameCompleted %}
                                    {{ result.team1ActualPoints }}
                                    {% endif %}
                                </td>
                                <td>vs.</td>
                                <td>{{ result.team2Name }}</td>
                                <td>{% if selectedModel == "v2" %}
                                    {{ result.expected_points_from_drives_t2 }}
                                    {% else %} 
                                    {{ result.team2CalculatedPoints }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if result.gameCompleted %}
                                    {{ result.team2ActualPoints }}
                                    {% endif %}
                                </td>
                                <td>{{ result.calculatedTotal }}</td>
                                <td>{{ result.bookProvidedTotal }}</td>
                                <td>
                                    {% if result.gameCompleted %}
                                    {{ result.actualTotal }}
                                    {% endif %}
                                </td>
                                <td class="modelSummaryLine">
                                    {{ result.team1Name }} 
                                        {% if result.calculatedSpread > 0 %}
                                        +{% endif %}{{ result.calculatedSpread }}</td>
                                <td class="modelSummaryLine">
                                    {{ result.team1Name }} 
                                        {% if result.bookProvidedSpread > 0 %}
                                        +{% endif %}{{ result.bookProvidedSpread }}</td>
                                <td class="modelSummaryLine">
                                    {% if result.gameCompleted%}
                                    {{ result.team1Name }} 
                                        {% if result.actualSpread > 0 %}
                                        +{% endif %}{{result.actualSpread }}
                                    {% endif %}
                                </td>
                                {% if result.gameCompleted %}
                                <td class="modelSummaryLine 
                                    {% if result.overUnderBetIsCorrect == 'True' %}
                                        correctBet
                                    {% elif result.overUnderBetIsCorrect == 'None' or result.overUnderBetIsCorrect == 'Push' %}
                                        noBet
                                    {% else %}
                                        wrongBet
                                    {% endif %}
                                    ">
                                    {{result.overUnderBet}}
                                </td>
                                <td class="modelSummaryLine
                                {% if result.lineBetIsCorrect == 'True'%}
                                    correctBet
                                {% elif result.lineBetIsCorrect == 'None' or result.lineBetIsCorrect == 'Push'%}
                                    noBet
                                {% else %}
                                    wrongBet
                                {% endif %}
                                    ">
                                    {{result.lineBet}}
                                </td>
                                {% elif anyCompleted %}
                                <td></td>
                                <td></td>
                                    
                                {% endif %}
                            </tr>
                            <tr id="collapse-{{result.team1Name}}{{result.team2Name}}" class="collapse" aria-labelledby="accordion-{{result.team1Name}}{{result.team2Name}}" data-parent="#accordion-{{result.team1Name}}{{result.team2Name}}">
                                <td colspan="6">
                                    <table style="font-size:0.9em" class="table text-start">
                                        <tbody>
                                            <tr>
                                                <td>
                                                </td>
                                                <td>
                                                    {{result.team1Name}}
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    {{result.team2Name}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    Offense Yds/Point Rank:
                                                </th>
                                                <td>
                                                    {{result.matchModelDetails.homeTeamOffenseYdsPerPntRank}}
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    {{result.matchModelDetails.awayTeamOffenseYdsPerPntRank}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    Offense Yds/Game Rank:
                                                </th>
                                                <td>
                                                    {{result.matchModelDetails.homeTeamOffenseYdsPerGmRank}}
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    {{result.matchModelDetails.awayTeamOffenseYdsPerGmRank}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    Defense Yds/Point Rank:
                                                </th>
                                                <td>
                                                    {{result.matchModelDetails.homeTeamDefenseYdsPerPntRank}}
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    {{result.matchModelDetails.awayTeamDefenseYdsPerPntRank}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    Defense Yds/Game Rank:
                                                </th>
                                                <td>
                                                    {{result.matchModelDetails.homeTeamDefenseYdsPerGmRank}}
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    {{result.matchModelDetails.awayTeamDefenseYdsPerGmRank}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    Bet Rank Score
                                                </th>
                                                <td colspan="3">
                                                    {{result.betRankScore}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td colspan="4">
                                    <table style="font-size:0.9em" class="table text-start">
                                        <tbody>
                                            <tr>
                                                <td colspan="4">
                                                    Key Injuries
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    {{result.team1Name}}
                                                </td>
                                                
                                                <td colspan="2">
                                                    {{result.team2Name}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                               
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            
                            {% endif %}
                        {% endfor %}
                        {% if anyCompleted %}
                        <tr>
                            <td colspan="14">
                            </td>
                            <td>{{ouRecord}}</td>
                            <td>{{lbRecord}}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            {% endif %}
            <script>
                    $('form').on("change", "#model", function(){
       
                        if ($('#model')[0].value == "v1.5")
                        {
                            $('#form_avg_length_select').css("visibility", "visible")
                        }
                        else
                        {
                            $('#form_avg_length_select').css("visibility", "hidden")
                        }                 
                    });
            </script>
        </div>

    </div>
{% endblock %}