{% extends 'nfl/base.html'%}
{% load static %}
{% load templateFilters%}
{% block players %}
    <div class = "container">
        
        <div>
            
            <form method="GET" class="p-3">
                Pull Players for :
                <div class="row g-2">
                    <div class="mb-1 col-auto">
                        <select name="season" id="season" class="form-control">
                            {% for yr in years %}
                            <option value="{{yr}}" 
                            {%if yr|stringformat:"i" == season %}
                                    selected
                                {% endif %} >{{yr}}</option>    
                            {% endfor %} 
                        </select> 
                    </div>
                    <div class="mb-1 col-auto">
                        <select name="teamName" id="teamName" class="form-control">
                            <option value="ALL">ALL</option>
                            {% for team in teams %}
                            <option value="{{ team.abbreviation }}"
                            {%if selTeam.abbreviation == team.abbreviation %}
                                selected
                            {% endif %}
                            > {{ team.abbreviation }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-primary">Load!</button>
            </form> 
            <form method="GET" class="p-3">
                Get All: 
                <select name="position" id="position" class="form-control">
                    <option value="1"> QB's </option>
                    <option value="4"> RB's </option>
                    <option value="5"> FB's </option>
                    <option value="2"> WR's </option>
                    <option value="3"> TE's </option>
                    <option value="6"> OL's </option>
                    <option value="7"> DL's </option>
                    <option value="8"> LB's </option>
                    <option value="9"> CB's </option>
                    <option value="10"> S's </option>
                    <option value="11"> P's </option>
                    <option value="12"> K's </option>

                </select>
                <button type="submit" class="btn btn-outline-primary">Load!</button>
            </form>
            <form method="GET" class="p-3">
                Get player availability for 
                <div class="row g-2">
                    <div class="mb-1 col-2">
                        Season: <select name="season" id="season" class="form-control">
                            {% for yr in years %}
                            <option value="{{yr}}" 
                            {%if yr|stringformat:"i" == sel_Year %}
                                    selected
                                {% endif %} >{{yr}}</option>    
                            {% endfor %} 
                        </select> 
                    </div>
                    <div class="mb-1 col-2">
                        Week: <select name="week" id="week" class="form-control">
                            {% for wk in weeks %}
                            <option value="{{wk.0}}"
                                {% if wk.0 == sel_Week %}
                                    selected
                                {% endif %} > {{ wk.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-1 col-2">
                        Team:
                        <select name="team" id="team" class="form-control">
                        {% for team in teams %}
                            <option value="{{ team.abbreviation }}"
                            {%if sel_Team == team.abbreviation %}
                                selected
                            {% endif %}
                            > {{ team.abbreviation }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-primary">Load!</button>
            </form>
        </div>
        {% if responseMessage %}
        <h2>{{responseMessage}}</h2>
        {% endif %}
        {% if players %}
        <div>
            <h3> 
                Roster for {{ selTeam.teamName }} in {{ season }}
            </h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td style="width:320px">Name</td>
                        <td>Position</td>
                        <td>Weight</td>
                        <td>Height</td>
                        <td>Rookie Year</td>
                        <td>Espn ID</td>
                <tbody>
                    {% for player in players%}
                    <tr>
                        <td id="accordion-{{player.espnId}}">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{player.espnId}}" aria-expanded="true" aria-controls="collapse{{player.espnId}}">
                                {{player.name}}
                            </button>
                        </td>
                        <td>{{player.get_playerPosition_display}}</td>
                        <td>{{player.playerWeightPounds}} pounds</td>
                        <td>{{player.playerHeightInches}} inches</td>
                        <td>{{player.firstSeason}}</td>
                        <td>{{player.espnId}}</td>
                    </tr>
                    <tr id="collapse{{player.espnId}}" class="collapse" aria-labelledby="accordion-{{player.espnId}}" data-parent="#accordion-{{player.espnId}}">
                        <td colspan="3" class="modelSummaryContainer">
                            Tenures for player {{player.espnId}}
                            <table class="table-bordered" id="player_tenure">
                                <thead>
                                    <td>Team</td>
                                    <td>Start Date</td>
                                    <td>End Date</td>
                                </thead>
                                <tbody>
                                    {% for tnr in tenures %}
                                        {% if tnr.player == player%}
                                        <tr>
                                            <td>{{tnr.team.fullName}}</td>
                                            <td>{{tnr.startDate|date:"m/d/Y"}}</td>
                                            <td>{{tnr.endDate|date:"m/d/Y"}}</td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        
        {% if allPlayers %}
        <h3> 
            All Players
        </h3>
        <table class="table table-bordered" id="player_table">
            <thead>
                <tr>
                    <td style="width:320px">Name</td>
                    <td>Team</td>
                    <td>Position</td>
                    <td>Rookie Year</td>
                    <td>Espn ID</td>
                    <td>Starter</td>
                    <td>Star Player</td>
                    <td>Significant Impact</td>
                    <td></td>
            <tbody>
                {% for player in allPlayers%}
                <tr id="{{player.espnId}}">
                    <td id="accordion-{{player.espnId}}">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{player.espnId}}" aria-expanded="true" aria-controls="collapse{{player.espnId}}">
                            {{player.name}}
                        </button>
                    </td>
                    <td>{{player.team.abbreviation}}</td>
                    <td>{{player.get_playerPosition_display}}</td>
                    <td>{{player.firstSeason}}</td>
                    <td>{{player.espnId}}</td>
                    <td><input type="checkbox" id="{{player.espnId}}-starter" name="{{player.espnId}}-starter" 
                        {% if player.isStarter %} checked {% endif %} /></td>
                    <td><input type="checkbox" id="{{player.espnId}}-starPlayer" name="{{player.espnId}}-starPlayer" 
                        {% if player.starPlayer %} checked {% endif %} /></td>
                    <td><input type="checkbox" id="{{player.espnId}}-bigImpact" name="{{player.espnId}}-bigImpact" 
                        {% if player.currentlyHavingBigImpact %} checked {% endif %} /></td>
                    <td><button class="btn btn-outline-dark save-btn" id="{{player.espnId}}_save">Save</button></td>
                </tr>
                {% comment %} <tr id="collapse{{player.espnId}}" class="collapse" aria-labelledby="accordion-{{player.espnId}}" data-parent="#accordion-{{player.espnId}}">
                    <td colspan="3" class="modelSummaryContainer">
                        Tenures for player {{player.espnId}}
                        <table class="table-bordered" id="player_tenure">
                            <thead>
                                <td>Team</td>
                                <td>Start Date</td>
                                <td>End Date</td>
                            </thead>
                            <tbody>
                                {% for tnr in tenures %}
                                    {% if tnr.player == player%}
                                    <tr>
                                        <td>{{tnr.team.fullName}}</td>
                                        <td>{{tnr.startDate|date:"m/d/Y"}}</td>
                                        <td>{{tnr.endDate|date:"m/d/Y"}}</td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr> {% endcomment %}

                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if athleteAvail %}
        <h3> 
            Player Availability
        </h3>
        <div class="container" style="overflow:scroll">
            <table class="table table-bordered" id="player_table">
                <thead>
                    <tr>
                        <td style="width:320px">Name</td>
                        <td>Team</td>
                        <td>Position</td>
                        <td>Espn ID</td>
                        <td>Starter</td>
                        <td>Star Player</td>
                        <td>Status</td>
                        {% comment %} <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                        <td>13</td>
                        <td>14</td>
                        <td>15</td>
                        <td>16</td>
                        <td>17</td>
                        <td>18</td> {% endcomment %}
                <tbody>
                    {% for player in athleteAvail%}
                    <tr id="{{player.0.espnId}}">
                        <td id="accordion-{{player.0.espnId}}">
                            {% comment %} <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{player.espnId}}" aria-expanded="true" aria-controls="collapse{{player.espnId}}"> {% endcomment %}
                                {{player.0.name}}
                            {% comment %} </button> {% endcomment %}
                        </td>
                        <td>{{player.0.team.abbreviation}}</td>
                        <td>{{player.0.get_playerPosition_display}}</td>
                        <td>{{player.0.espnId}}</td>
                        <td><input type="checkbox" id="{{player.0.espnId}}-starter" name="{{player.0.espnId}}-starter" 
                            {% if player.0.isStarter %} checked {% endif %} /></td>
                        <td><input type="checkbox" id="{{player.0.espnId}}-starPlayer" name="{{player.0.espnId}}-starPlayer" 
                            {% if player.0.starPlayer %} checked {% endif %} /></td>
                        {% comment %} <td><input type="checkbox" id="{{player.0.espnId}}-bigImpact" name="{{player.0.espnId}}-bigImpact" 
                            {% if player.0.currentlyHavingBigImpact %} checked {% endif %} /></td> {% endcomment %}
                        <td>{% if player.1.playerStatus == 1 %}✅{% else %}🚫{% endif %}</td>
                    </tr>
                    

                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        
        {% if athleteAvailSeason %}
        <h3> 
            Player Availability for {{season}}
        </h3>
        <div class="container" style="overflow:scroll">
            <table class="table table-bordered" id="player_table">
                <thead>
                    <tr>
                        <td style="width:320px">Name</td>
                        <td>Team</td>
                        <td>Position</td>
                        <td>Espn ID</td>
                        <td>Starter</td>
                        <td>Star Player</td>
                        <td class="weekAvailTableCell">1</td>
                        <td class="weekAvailTableCell">2</td>
                        <td class="weekAvailTableCell">3</td>
                        <td class="weekAvailTableCell">4</td>
                        <td class="weekAvailTableCell">5</td>
                        <td class="weekAvailTableCell">6</td>
                        <td class="weekAvailTableCell">7</td>
                        <td class="weekAvailTableCell">8</td>
                        <td class="weekAvailTableCell">9</td>
                        <td class="weekAvailTableCell">10</td>
                        <td class="weekAvailTableCell">11</td>
                        <td class="weekAvailTableCell">12</td>
                        <td class="weekAvailTableCell">13</td>
                        <td class="weekAvailTableCell">14</td>
                        <td class="weekAvailTableCell">15</td>
                        <td class="weekAvailTableCell">16</td>
                        <td class="weekAvailTableCell">17</td>
                        <td class="weekAvailTableCell">18</td> 
                <tbody>
                    {% for player in athleteAvailSeason%}
                    <tr id="{{player.0.espnId}}">
                        <td id="accordion-{{player.0.espnId}}">
                            {% comment %} <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{player.espnId}}" aria-expanded="true" aria-controls="collapse{{player.espnId}}"> {% endcomment %}
                                {{player.0.name}}
                            {% comment %} </button> {% endcomment %}
                        </td>
                        <td>{{selTeam}}</td>
                        <td>{{player.0.get_playerPosition_display}}</td>
                        <td>{{player.0.espnId}}</td>
                        <td><input type="checkbox" id="{{player.0.espnId}}-starter" name="{{player.0.espnId}}-starter" 
                            {% if player.0.isStarter %} checked {% endif %} /></td>
                        <td><input type="checkbox" id="{{player.0.espnId}}-starPlayer" name="{{player.0.espnId}}-starPlayer" 
                            {% if player.0.starPlayer %} checked {% endif %} /></td>
                        {% comment %} <td><input type="checkbox" id="{{player.0.espnId}}-bigImpact" name="{{player.0.espnId}}-bigImpact" 
                            {% if player.0.currentlyHavingBigImpact %} checked {% endif %} /></td> {% endcomment %}
                        {% for playerStatus in player.1 %}
                        <td>{% if playerStatus == "Bye" %}Bye{% elif playerStatus == "Not in Roster" %}Not in Roster{% elif playerStatus.playerStatus == 1%}✅{% else %}🚫{% endif %}</td>
                        {% comment %} <td>{% if playerStatus == "Bye" %}{{playerStatus}}{% else %}{{playerStatus.playerStatus}}{% endif %}</td> {% endcomment %}

                        {% endfor %}
                    </tr>
                    

                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
    <script>
        $("#player_table").on("click", ".save-btn", function () {
            var url = "../ajax/playerSignificance/"  
            var player_id = $(this).parents('tr').attr('id');  
            
            var is_star = $("#"+player_id+"-starPlayer")[0].checked;
            
            var big_impact = $("#"+player_id+"-bigImpact")[0].checked;

            var starter = $("#"+player_id+"-starter")[0].checked;

            $.ajax(
                {                       
                    url: url,           
                    data: {
                    'playerId': player_id,
                    'isStar': is_star,
                    'bigImpact': big_impact,
                    'starter': starter
                    },
                    success: function () 
                    {
                        console.log(player_id + " saved.");
                    }
                });
        });
    </script>
{% endblock %}