{% extends 'nfl/base.html'%}
{% load static %}
{% block getData %}
    <div class = "container">
        {% comment %} <form method="GET">
            <input type="hidden" name="teams" value="all">
            <button type="submit">Load All Teams</button>
        </form>
        {% if teamNames %}
            <div> 32 Teams Loaded </div>
            {% for tn in teamNames %}
            <div> {{tn}}</div>
            {% endfor %}
        {% endif %} {% endcomment %}
        {% comment %} <form method="GET">
            <input type="hidden" name="resetPerf" value="all">
            <button type="submit">Clear All Performances</button>
        </form> {% endcomment %}
        
       
        
        <br>
        <div>
            <form method="GET">
                Load data for:
                <div class="row g-1 mt-2 mb-2">
                    <div class="col-2">
                        <div class="form-floating">
                            <select class="form-select" name="season" id="select_season" aria-label="Floating label">
                                {% for yr in years %}
                                <option value="{{yr}}" 
                                    {%if yr|stringformat:"i" == season %}
                                        selected
                                    {% endif %} >{{yr}}</option>
                                {% endfor %}
                            </select>
                            <label for="select_season">Season</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-floating">
                            <select class="form-select" name="startWeek" id="select_s_week" aria-label="Floating label">
                                {% for wk in weeks %}
                                    <option value="{{wk.0}}"> {{ wk.1 }}</option>
                                {% endfor %}
                            </select>
                            <label for="select_s_week">Start Week</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-floating">
                            <select class="form-select" name="endWeek" id="select_e_week" aria-label="Floating label">
                                {% for wk in weeks %}
                                    <option value="{{wk.0}}"> {{ wk.1 }}</option>
                                {% endfor %}
                            </select>
                            <label for="select_e_week">End Week</label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success" id="save-btn">Load!</button>
                
            </form>
            <br>
            {% comment %} <form method="GET">
                <input type="hidden" name="deleteDrives" value ="allDrives">
                <button type="submit" disabled>Delete All Drives</button>
            </form> {% endcomment %}
        </div>
        <div>
            <h4>{{ message }}</h4>
            {% if exceptions %}
                {% for ex in exceptions%}
                    <div class="pull_data_exception accordion" id="accordion{{ex.3}}">
                        <button class="collapsed btn btn-block" type="button" data-toggle="collapse" data-target="#collapse{{ex.3}}" aria-expanded="true" aria-controls="collapse{{ex.3}}" style="margin-left:0px">
                                       
                        
                            <h5>
                                {{ex.0}}
                            </h5>
                        </button>
                        <p>{{ex.1}}</p>
                        <div id="collapse{{ex.3}}" class="collapse" aria-labelledby="accordion{{ex.3}}" data-parent="#accordion{{ex.3}}">
                            <pre>{{ex.2 | pprint}}</pre>
                        </div>
                    </div>
                {%endfor%}
            {%endif%}
        </div>
        <br>
        <br>
        {% comment %} <div>
            <form method="GET">
                <select name="season" id="season">
                    <option value="2022">2022</option>
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                </select> 
                <input type="hidden" name="full" value="True">
                <br>
                <button type="submit">Load Full Season</button>
            </form>
        </div> {% endcomment %}
        {% comment %} 
        <div>
            Load data for game with ID:
            <form method="GET">
                <input type="text" id="espnGameId" name="espnGameId"><br><br>
                <button type="submit">Load!</button>
            </form> 
        </div>
        {% endcomment %}
        <div id="injuriesbutton">
            <button class="btn btn-outline-dark" id="ajaxbutton"> Get Injuries</button>
        </div>
    </div>
    <script>
        $("#injuriesbutton").on("click", "#ajaxbutton", function () {
            var url = "../ajax/getInjuryStatus/"  
            console.log("ayyy")
            $.ajax(
                {                       
                    url: url,           
                    data: {
                    
                    },
                    success: function () 
                    {
                        console.log("We did it.");
                    }
                });
        });
    </script>
{% endblock %}