{% extends 'nfl/base.html'%}
{% load static %}
{% load templateFilters%}
{% block teamDetailedStats %}
    <div class = "container">
        
        <div>
            Get Detailed Stats for :
            <form method="GET">
                <div class="row g-1 mt-3">
                    <div class="col-2">
                        <div class="form-floating">
                            <select class="form-select" name="season" id="select_season" aria-label="Floating label">
                                {% for yr in years %}
                                <option value="{{yr}}" 
                                    {%if yr|stringformat:"i" == season %}
                                        selected
                                    {% endif %} >{{yr}}</option>
                                {% endfor %}
                            </select>
                            <label for="select_season">Season:</label>
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="form-floating">
                            <select class="form-select" name="teamName" id="select_team" aria-label="Floating label">
                                {% for team in teams %}
                                    <option value="{{ team.abbreviation }}"
                                        {%if team.abbreviation == teamName %} selected {% endif %}> {{ team.abbreviation }}</option>
                                {% endfor %}
                            </select>
                            <label for="select_team">Team:</label>
                        </div>
                    </div>
                </div>

                <br>
                <button type="submit" class="btn btn-success">Load!</button>
            </form>
        </div>
        <br>
        
        {% if teamPerf %}
        <div>
            <h3> 
                {{ teamName }} in {{ season }}
            </h3>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td> {{perf.nflMatch.datePlayed}} </td>
                    </tr>
                    <tr> 
                        <td>Opponent</td>
                        {% for perf in teamPerf %}
                            {% for opp in perf.opponent.all %}
                                <td> {{opp.abbreviation}} </td>
                            {% endfor %}
                        {% endfor %}
                    </tr>
                    <tr> 
                        <td>Date Played</td>
                        {% for perf in teamPerf %}
                            {% for match in perf.nflMatch.all %}
                                <td> {{match.datePlayed|date:"M d Y"}} </td>
                            {% endfor %}
                        {% endfor %}
                    </tr>
                    {% for fName in fieldNames%}
                    <tr>
                        <td>{{fName}}</td>
                        {% for perf in teamPerf %}
                        <td> 
                            {{ perf|get_obj_attr:fName }}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        
        {% endif %}

    </div>
{% endblock %}