{% extends 'nfl/base.html'%}
{% load static %}
{% load templateFilters%}
{% block testPage %}
    <div class = "container">
        
        <div>
            Get Games for :
            <form method="GET">
                <select name="season" id="season">
                    <option value="2022">2022</option>
                    <option value="2021">2021</option>
                </select> 
                 
                <select name="week" id="week">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                </select>
                <br>
                <button type="submit">Load!</button>
            </form>
        </div>
        
        {% if games %}
            <p>Here are the games for:</p>
        

            {% for gm in games%}
                <div>

                    <h3> 
                        {{ gm.homeTeamEspnId }} vs {{ gm.awayTeamEspnId }}
                    </h3>
                    <h4>Week {{gm.weekOfSeason}}</h4>
                    <p>
                        Over/Under: {{gm.overUnderLine}} <br>
                        Home Team Line: {{gm.matchLineHomeTeam}}<br>
                        Home Team ML: {{gm.homeTeamMoneyLine}}<br>
                        Away Team ML: {{gm.awayTeamMoneyLine}}<br>
                    </p>
        
        
                    {% comment %} <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td> {{perf.nflMatch.datePlayed}} </td>
                            </tr>
                            <tr> 
                                <td>Opponent</td>
                                {% for perf in teamPerf %}
                                    {% for opp in perf.opponent.all %}
                                        <td> {{opp.abbreviation}} </td>
                                    {% endfor %}
                                {% endfor %}
                            </tr>
                            <tr> 
                                <td>Date Played</td>
                                {% for perf in teamPerf %}
                                    {% for match in perf.nflMatch.all %}
                                        <td> {{match.datePlayed|date:"M d Y"}} </td>
                                    {% endfor %}
                                {% endfor %}
                            </tr>
                            {% for fName in fieldNames%}
                            <tr>
                                <td>{{fName}}</td>
                                {% for perf in teamPerf %}
                                <td> 
                                    {{ perf|get_obj_attr:fName }}
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table> {% endcomment %}
                </div>
            {% endfor %}
   

        
        {% endif %}

    </div>
{% endblock %}