{% extends 'nfl/base.html'%}
{% load static %}
{% load templateFilters%}
{% block loadYearlySummary %}
    <div class = "container">
        
        <div>
            Get Games for :
            <form method="GET">
                <form method="GET">
                    <select name="season" id="season">
                        {% for yr in years %}
                        <option value="{{yr}}" 
                            {%if yr|stringformat:"i" == yearOfSeason %}
                                selected
                            {% endif %} >{{yr}}</option>
                        {% endfor %}
                       
                    </select> 
                    
    
                    Model:
                    <select name="model" id="model">
                        {% for model in models %}
                        
                        <option value="{{model.0}}"
                      
                        {% if selectedModel == model.0 %}
                            selected
                        {% endif %}
                                    >{{model.1}}</option>
                        
                        {% endfor %}
                    </select>
                    

                    <div id="form_avg_length_select" {% if selectedModel != "v1.5"%} style="visibility:hidden" {% endif %}>
                        Length:
                        <select name="movingavg" id="movingavg">
                            {% for ma in ma_Len %}
                            <option value="{{ma}}" {% if ma == sel_ma %} selected {% endif %}>{{ma}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    

                    Select top 
                    <select name="topNumResults" id="topNumResults">
                        {% for nr in nrSelect %}
                        <option value = "{{nr}}"
                            {% if nr == topNumResults %}
                                selected
                            {% endif %}
                            >{{nr}}</option>
                        {% endfor %}
                    </select>
                    results
                <br>
                <button type="submit">Load!</button>
            </form>
        </div>
        
        {% if seasonResults %}
            
            <br>
            <h3>How are games ranked?</h3>
            <p>
                Absolute Value of ("Team 1 Ranked on Offense Yards Per Game" + "Team 1 Ranked on Offense Yards Per Point" - ("Team 2 Ranked on Defense Yards Per Game" + "Team 2 Ranked on Defense Yards Per Point")) <br>
                +<br>
                Absolute Value of ("Team 2 Ranked on Offense Yards Per Game" + "Team 2 Ranked on Offense Yards Per Point" - ("Team 1 Ranked on Defense Yards Per Game" + "Team 1 Ranked on Defense Yards Per Point")) <br> 

                This result will be highest when the best offense faces the worst defense and when the worst offense faces the best defense. It highlights the biggest imbalances.
            </p>
            <br>
            <p>Here are the results for {{yearOfSeason}}</p>
        
            <table class="table-bordered" id="year-summary">
                <thead>
                    <td>
                    </td>
                    <td>
                        Over Under Record
                    </td>
                    <td>
                        Lines Bet Record
                    </td>
                </thead>
                <tbody>
            {% for wk in seasonResults%}
                <tr id="accordion-{{wk.0}}">
                    <td style="width:260px">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{wk.0}}" aria-expanded="true" aria-controls="collapse{{wk.0}}">
                            Week {{wk.0}}
                          </button>
                    </td>
                    <td style="width:460px">
                        {{wk.1}}
                    </td>
                    <td style="width:460px">
                        {{wk.2}}
                    </td>
                </tr>
                <tr id="collapse{{wk.0}}" class="collapse" aria-labelledby="accordion-{{wk.0}}" data-parent="#accordion-{{wk.0}}">
                    <td colspan="3" class="modelSummaryContainer">
                        <table class="table-bordered" id="year_modelSummary">
                            <thead>
                                <td>Home Team</td>
                                <td>Model Score</td>
                                <td>Actual Score</td>
                                <td style="padding: 0 25px;"></td>
                                <td>Away Team</td>
                                <td>Model Score</td>
                                <td>Actual Score</td>
                                <td>Sheet O/U</td>
                                <td>Book O/U</td>
                                <td>Actual Total</td>
                                <td>Model Line</td>
                                <td>Book Line</td>
                                <td>Result Line</td>
                                <td>Model O/U Bet</td>
                                <td>Model Line Bet</td>
                            </thead>
                            <tbody>
                                {% for result in wk.3 %}
                                <tr>
                                    <td>{{ result.team1Name }}</td>
                                    <td>{% if selectedModel == "v2" %}
                                        {{ result.expected_points_from_drives_t1 }}
                                        {% else %} 
                                        {{ result.team1CalculatedPoints }}
                                        {% endif %}
        
                                    </td>
                                    <td>
                                        {% if result.gameCompleted %}
                                        {{ result.team1ActualPoints }}
                                        {% endif %}
                                    </td>
                                    <td>vs.</td>
                                    <td>{{ result.team2Name }}</td>
                                    <td>{% if selectedModel == "v2" %}
                                        {{ result.expected_points_from_drives_t2 }}
                                        {% else %} 
                                        {{ result.team2CalculatedPoints }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if result.gameCompleted %}
                                        {{ result.team2ActualPoints }}
                                        {% endif %}
                                    </td>
                                    <td>{{ result.calculatedTotal }}</td>
                                    <td>{{ result.bookProvidedTotal }}</td>
                                    <td>
                                        {% if result.gameCompleted %}
                                        {{ result.actualTotal }}
                                        {% endif %}
                                    </td>
                                    <td class="modelSummaryLine">
                                        {{ result.team1Name }} 
                                            {% if result.calculatedSpread > 0 %}
                                            +{% endif %}{{ result.calculatedSpread }}</td>
                                    <td class="modelSummaryLine">
                                        {{ result.team1Name }} 
                                            {% if result.bookProvidedSpread > 0 %}
                                            +{% endif %}{{ result.bookProvidedSpread }}</td>
                                    <td class="modelSummaryLine">
                                        {% if result.gameCompleted%}
                                        {{ result.team1Name }} 
                                            {% if result.actualSpread > 0 %}
                                            +{% endif %}{{result.actualSpread }}
                                        {% endif %}
                                    </td>
                                    {% if result.gameCompleted %}
                                    <td class="modelSummaryLine 
                                        {% if result.overUnderBetIsCorrect == 'True' %}
                                            correctBet
                                        {% elif result.overUnderBetIsCorrect == 'None' or result.overUnderBetIsCorrect == 'Push' %}
                                            noBet
                                        {% else %}
                                            wrongBet
                                        {% endif %}
                                        ">
                                        {{result.overUnderBet}}
                                    </td>
                                    <td class="modelSummaryLine
                                    {% if result.lineBetIsCorrect == 'True'%}
                                        correctBet
                                    {% elif result.lineBetIsCorrect == 'None' or result.lineBetIsCorrect == 'Push'%}
                                        noBet
                                    {% else %}
                                        wrongBet
                                    {% endif %}
                                        ">
                                        {{result.lineBet}}
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </td>
                </tr>



                    {% comment %} <h3> 
                        {{ gm.homeTeamEspnId }} vs {{ gm.awayTeamEspnId }}
                    </h3>
                    <h4>Week {{gm.weekOfSeason}}</h4>
                    <p>
                        Over/Under: {{gm.overUnderLine}} <br>
                        Home Team Line: {{gm.matchLineHomeTeam}}<br>
                        Home Team ML: {{gm.homeTeamMoneyLine}}<br>
                        Away Team ML: {{gm.awayTeamMoneyLine}}<br>
                    </p> {% endcomment %}
        
        
                    {% comment %} <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td> {{perf.nflMatch.datePlayed}} </td>
                            </tr>
                            <tr> 
                                <td>Opponent</td>
                                {% for perf in teamPerf %}
                                    {% for opp in perf.opponent.all %}
                                        <td> {{opp.abbreviation}} </td>
                                    {% endfor %}
                                {% endfor %}
                            </tr>
                            <tr> 
                                <td>Date Played</td>
                                {% for perf in teamPerf %}
                                    {% for match in perf.nflMatch.all %}
                                        <td> {{match.datePlayed|date:"M d Y"}} </td>
                                    {% endfor %}
                                {% endfor %}
                            </tr>
                            {% for fName in fieldNames%}
                            <tr>
                                <td>{{fName}}</td>
                                {% for perf in teamPerf %}
                                <td> 
                                    {{ perf|get_obj_attr:fName }}
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table> {% endcomment %}
                
            {% endfor %}
                    <tr>
                        <td>
                            Total:
                        </td>
                        <td>
                            {{ouRecord}}
                        </td>
                        <td>
                            {{lineBetRecord}}
                        </td>
                    </tr>
                </tbody>
            </table>
   

        
        {% endif %}

    </div>
    <script>
        $('form').on("change", "#model", function(){

            if ($('#model')[0].value == "v1.5")
            {
                $('#form_avg_length_select').css("visibility", "visible")
            }
            else
            {
                $('#form_avg_length_select').css("visibility", "hidden")
            }                 
        });
    </script>
{% endblock %}